.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1320px;
    align-self: center;
    padding: 16px;
    padding-bottom: 48px;
    text-align: center;

    h2 {
        font-size: 40px;
    }

    iframe {
        max-width: 100%;
    }
}

.event {
    padding: 4px 8px;
    position: relative;
    span {
        max-width: 100%;
        overflow: hidden;
    }

    .tooltip {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 300px;
        max-width: 80vw;
        background-color: #ffffff;
        white-space: normal;
        border: 1px solid var(--fc-border-color, #ddd);
        padding: 4px 8px;

        p {
            color: #000000;
            font-weight: normal;
            overflow: auto;
            white-space: pre-wrap;
        }
    }

    &:hover {
        z-index: 10;
        .tooltip {
            display: block;
        }
    }
}