.container {
    height: 100vh;
    width: 100vw;
    background-color: #8EAC91;
    position: relative;

    display: flex;
    flex-direction: column;
}

.background {
    flex: 1;
    background-image: url('/images/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 48px;
    margin-bottom: 0px;
}

.logo {
    position: absolute;
    height: 200px;
    top: 0px;
    right: 0px;

    img {
        height: 100%;
    }
}

@media(max-width: 768px){
    .background {
        margin: 32px;
        margin-bottom: 0px;
    }
    .logo {
        height: 120px;
    }
}