@import '/styles/variables';

.container {
    padding: 64px 32px;
    background-color: $yellow;
    justify-content: center;
    align-items: center;
    display: flex;

    h2 {
        margin-top: 0px;
        font-size: 64px;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-weight: 900;
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 768px;

        img {
            max-width: 100%;
        }
    }
}

.beersWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}